.preview--big-screen {
  display: flex;
  width: 50%;
  padding: 1rem 1rem 5rem 1rem;
  margin: 0.5rem 0 0 5rem;
  border-radius: 5px;
  background-color: var(--bg-primary);
}

.preview--small-screen {
}

.preview__checkbox {
  display: none;
}

.preview__toggle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5rem;
  right: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-tertiary);
  transition: all 200ms ease-out;
  z-index: 1000;
}

.preview__toggle svg {
  position: absolute;
}

.preview__toggle:hover {
  transform: scale(1.5);
}

.preview__toggle .toggle-button {
  transform: scale(0);
  transition: transform 400ms;
}

.preview__toggle .toggle-button.active {
  transform: scale(1);
  transition: transform 400ms;
  transition-delay: 400ms;
}

.preview__background {
  position: fixed;
  bottom: 5.5rem;
  right: 5.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--bg-black);
  transition: transform 800ms ease-out;
  z-index: 500;
}

.preview__video__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  max-width: 120rem;
  visibility: hidden;
  transform: translate(-50%, -50%);
  z-index: 700;
}

.preview__video {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 400ms;
  transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
  transition-delay: 0ms;
}

.preview__video.active {
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 400ms;
}

.preview__checkbox:checked ~ .preview__background {
  transform: scale(150);
}

.preview__checkbox:checked ~ .preview__toggle .toggle-button {
  transform: scale(0);
}

.preview__checkbox:checked ~ .preview__toggle .toggle-button.active {
  transform: scale(1);
}

.preview__checkbox:checked ~ .preview__video__container {
  visibility: visible;
}

.preview__checkbox:checked ~ .preview__video__container > .preview__video {
  opacity: 1;
  transform: translateY(0);
}
