.preview__toggle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5rem;
  right: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--bg-tertiary);
  transition: all 200ms ease-out;
  z-index: 50;
}

.preview__toggle:hover {
  transform: scale(1.5);
}

.preview__toggle > svg {
  position: absolute;
  transform: scale(0);
  transition: all 400ms;
}

.preview__toggle > svg.active {
  transform: scale(1);
  transition: transform 400ms;
  transition-delay: 400ms;
}

.preview__toggle > svg:hover {
  opacity: 1;
}

.preview__background {
  position: fixed;
  bottom: 5.5rem;
  right: 5.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #000000;
  transition: transform 800ms ease-out;
  z-index: 49;
}

.preview__video__container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 120rem;
  visibility: hidden;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.preview__video {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 400ms;
  transition-timing-function: cubic-bezier(0.36, 0, 0.66, -0.56);
  transition-delay: 0ms;
}

.preview.active .preview__background {
  transform: scale(150);
}

.preview.active .preview__toggle .toggle-button {
  transform: scale(0);
}

.preview.active .preview__toggle .toggle-button.active {
  transform: scale(1);
}

.preview.active .preview__video__container {
  visibility: visible;
}

.preview.active .preview__video {
  opacity: 1;
  transform: translateY(0);
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 400ms;
}

@media (min-width: 1000px) {
  .preview {
    display: flex;
    width: 50%;
    margin: 0.5rem 0 0 5rem;
    border-radius: 5px;
    background-color: var(--bg-primary);
  }

  .preview__toggle,
  .preview__background {
    display: none;
  }

  .preview__video__container {
    position: static;
    width: 100%;
    max-width: none;
    visibility: initial;
    transform: initial;
  }

  .preview__video {
    opacity: initial;
    transform: initial;
  }
}
