.preview {
}

.preview__checkbox {
  display: none;
}

.preview__toggle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5rem;
  right: 5rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--gray);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: transform 200ms ease-out;
}

.preview__toggle:hover {
  transform: scale(1.3);
}

.preview__toggle svg {
  position: absolute;
}

.preview__toggle .toggle-button {
  transition: transform 400ms;
  transform: scale(0);
}

.preview__toggle .toggle-button--active {
  transition: transform 400ms;
  transition-delay: 400ms;
}

.preview__background {
  position: fixed;
  bottom: 5.5rem;
  right: 5.5rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: var(--black);
  z-index: 500;
  transition: transform 800ms ease-out;
}

.preview__checkbox:checked ~ .preview__background {
  transform: scale(80);
}

.preview__checkbox:checked ~ .preview__toggle .toggle-button {
  transform: scale(0);
}

.preview__checkbox:checked ~ .preview__toggle .toggle-button--active {
  transform: scale(1);
}
