.init-upload {
  width: 100%;
  padding: 3rem;
  text-align: center;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  color: var(--theme-primary);
  background-color: var(--theme-inversed);
  box-shadow: 0 5px 10px var(--theme-inversed);
}
