.new-node {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-node form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  gap: 2rem;
}
