.tree-node {
  width: 98%;
}

.tree-node__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px dashed var(--text-secondary);
  padding: 1rem;
  gap: 1rem;
}

.tree-node__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tree-node__title {
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  cursor: pointer;
}

.tree-node__progress {
  width: 10rem;
}

.tree-node__expand {
  padding: 1rem 0;
}

.tree-node__expand.hide {
  display: none;
}

.tree-node__progress {
  position: relative;
  width: 40%;
  height: 3rem;
}

.tree-node__progress--background,
.tree-node__progress--current {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  border-radius: 50px;
}

.tree-node__progress--background {
  background-color: var(--bg-secondary);
}

.tree-node__progress--current {
  background-color: var(--video-red);
}

.tree-node__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}

.tree-node__children.hide {
  display: none;
}
