.tree-node {
  width: 98%;
  margin-top: 0.5rem;
}

.tree-node svg {
  fill: var(--text-inversed);
}

.tree-node__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  font-weight: 500;
  box-shadow: inset 0 0 3px var(--bg-primary);
  border-radius: 10px;
  color: var(--text-inversed);
  background-color: var(--bg-inversed);
}

.tree-node__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tree-node__title {
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  cursor: pointer;
}

.tree-node__progress {
  width: 10rem;
}

.tree-node__expand {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.tree-node__expand.hide {
  display: none;
}

.tree-node__option-title {
  width: 50%;
}

.tree-node__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
}

.tree-node__progress__bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
}

.tree-node__progress__bar--background,
.tree-node__progress__bar--current {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.tree-node__progress__bar--background {
  background-color: var(--bg-secondary);
}

.tree-node__progress__bar--current {
  background-color: var(--video-red);
}

.tree-node__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}

.tree-node__children.hide {
  display: none;
}
