.upload-node {
  width: 95%;
  margin-top: 0.5rem;
}

.upload-node__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  border-radius: 10px;
  background-color: var(--bg-tertiary);
}

.upload-node__body > svg {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.upload-node__title {
  display: flex;
  align-items: center;
  width: max-content;
  max-width: calc(100% - 10rem);
  height: 5.5rem;
  margin: 0 5rem;
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.upload-node__title:hover {
  opacity: 0.7;
}

.upload-node__extended {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;
  gap: 1rem;
}

.upload-node__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 0.5rem;
}

.upload-node__progress__bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
}

.upload-node__progress__bar--background,
.upload-node__progress__bar--current {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.upload-node__progress__bar--background {
  background-color: #858585;
}

.upload-node__progress__bar--current {
  background-color: var(--accent-primary);
}

.upload-node__progress__cancel {
  display: flex;
}

.upload-node__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}

.upload-node__children.hide {
  display: none;
}
