.loading-card {
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--theme-inversed);
}

.loading-card__thumbnail {
  width: 100%;
  height: 70%;
}

.loading-card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 30%;
}

.loading-card__info__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.loading-card__info__title {
  width: 70%;
  height: 3rem;
  border-radius: 5px;
}

.loading-card__thumbnail,
.loading-card__info__avatar,
.loading-card__info__title {
  background-color: var(--theme-tertiary);
  background: linear-gradient(
    110deg,
    var(--theme-tertiary) 8%,
    #464646 18%,
    var(--theme-tertiary) 33%
  );
  background-size: 200% 100%;
  animation: loading-card 1.5s linear infinite;
}

@keyframes loading-card {
  to {
    background-position-x: -200%;
  }
}
