.loading-card {
  width: 100%;
  height: max-content;
  border-radius: 5px;
  background-color: var(--bg-tertiary);
  overflow: hidden;
}

.loading-card__thumbnail {
  width: 100%;
  aspect-ratio: 16/9;
}

.loading-card__info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.loading-card__info__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.loading-card__info__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 5rem;
  padding: 1rem;
  gap: 1rem;
}

.loading-card__info__detail__title {
  width: 100%;
  height: 1rem;
}

.loading-card__info__detail__description {
  width: 60%;
  height: 1rem;
}

.loading-card__info__detail__title,
.loading-card__info__detail__description {
  border-radius: 5px;
}

.loading-card__thumbnail,
.loading-card__info__avatar,
.loading-card__info__detail__title,
.loading-card__info__detail__description {
  background-image: linear-gradient(
    110deg,
    var(--bg-secondary) 8%,
    #464646 18%,
    var(--bg-secondary) 33%
  );
  background-size: 200% 100%;
  animation: loading-card 1.5s linear infinite;
}

@keyframes loading-card {
  to {
    background-position-x: -200%;
  }
}
