.auth-page {
  width: 50%;
  max-width: 60rem;
  min-width: 35rem;
  margin: auto;
  padding: 3rem;
  gap: 1rem;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.auth-page form > button {
  margin-top: 1rem;
}

.auth-page input,
.auth-page button {
  width: 100%;
}

.auth-page button {
  margin: 0.25rem;
}

.auth-page a {
  margin: 0 1rem 0 auto;
  font-size: 1.2rem;
}

.auth-page span:hover {
  opacity: 0.7;
}
