.auth-page {
  width: 50%;
  max-width: 40rem;
  min-width: 20rem;
  margin: auto;
  padding: 3rem;
  gap: 1rem;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.auth-page input,
.auth-page button {
  width: 100%;
}

.auth-page span {
  font-weight: 500;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

.auth-page span:hover {
  opacity: 0.7;
}
