.login-page {
  width: 50%;
  max-width: 40rem;
  margin: auto;
  padding: 3rem;
  gap: 1rem;
}

.login-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.login-page input,
.login-page button {
  width: 100%;
}
