.login-page {
  display: grid;
  width: 50%;
  margin: auto;
  padding: 3rem;
  gap: 1rem;
}

.login-page form {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-page input {
  width: 100%;
}
