.send-recovery-email-page {
  width: 50%;
  max-width: 40rem;
  min-width: 20rem;
  margin: auto;
  padding: 3rem;
}

.send-recovery-email-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.send-recovery-email-page input,
.send-recovery-email-page button {
  width: 100%;
}
