.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  padding: 0 2.5rem;
  gap: 3rem;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(var(--theme-primary), transparent);
  z-index: 100;
}

.header__logo {
  height: 100%;
  margin-right: auto;
}
