.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 2rem;
  font-size: 2rem;
  background-color: var(--bg-primary);
}

/* CSS Transition */

.menu-enter {
  transform: translateX(100%);
}

.menu-enter-active {
  transform: translateX(0%);
  transition: all 300ms;
}

.menu-exit {
  transform: translateX(0%);
}

.menu-exit-active {
  transform: translateX(100%);
  transition: all 300ms;
}
