.file-uploader {
  position: absolute;
  display: flex;
  margin-left: 6rem;
}

.file-uploader__dnd {
  position: relative;
  width: 30rem;
  height: calc(30rem * 9 / 16);
  background-image: linear-gradient(rgb(136, 136, 136), rgb(66, 66, 66));
}

.file-uploader__progress {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.file-uploader__progress svg {
  fill: grey;
}
