.file-uploader {
  width: 95%;
}

.file-uploader__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid var(--gray);
}

.file-uploader__title {
  width: 5rem;
  text-overflow: ellipsis;
}

.file-uploader__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}
