.tree-node {
  width: 95%;
}

.tree-node__header {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid var(--grey);
}

.tree-node__title {
  width: 5rem;
}

.tree-node__progress {
  width: 10rem;
}

.tree-node__open-children {
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(0);
  transition: transform 200ms ease-out;
}

.tree-node__open-children.rotated {
  transform: rotate(90deg);
}

.tree-node__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}

.tree-node__children.hide {
  display: none;
}
