.tree-node {
  width: 98%;
}

.tree-node__body {
  position: relative;
  display: flex;
  align-items: center;
  height: 5rem;
  border-bottom: 1px dashed var(--gray);
}

.tree-node__header {
  width: calc(100% - 3.5rem);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  cursor: pointer;
}

.tree-node__title {
  width: 5rem;
}

.tree-node__progress {
  width: 10rem;
}

.tree-node__open-children {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -3rem;
  width: 3rem;
  height: 3rem;
  transform: rotate(0);
  transition: transform 200ms ease-out;
}

.tree-node__open-children.rotated {
  transform: rotate(90deg);
}

.tree-node__open-children svg {
  width: 50%;
  height: 50%;
}

.tree-node__add-children {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0.5rem;
}

.tree-node__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}

.tree-node__children.hide {
  display: none;
}
