.tree-node {
  width: 98%;
}

.tree-node__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px dashed var(--gray);
  padding: 1rem;
  gap: 1rem;
}

.tree-node__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tree-node__title {
  cursor: pointer;
}

.tree-node__progress {
  width: 10rem;
}

.tree-node__expand {
  
}

.tree-node__expand.hide {
  display: none;
}

.tree-node__children {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 100%;
  width: 100%;
}

.tree-node__children.hide {
  display: none;
}
