.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  color: var(--theme-primary);
  font-weight: 500;
  background-color: var(--theme-inversed);
  overflow: hidden;
  transition: opacity 200ms ease-out;
}

.button:hover {
  opacity: 0.7;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background-color: var(--theme-tertiary);
  color: var(--theme-secondary);
  cursor: not-allowed;
  opacity: 1;
}
