.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.8rem;
  border-radius: 5px;
  font-weight: 500;
  color: var(--text-inversed);
  background-color: var(--bg-inversed);
  overflow: hidden;
  transition: opacity 200ms ease-out;
}

.button:hover {
  opacity: 0.7;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  cursor: not-allowed;
  opacity: 1;
}

.button.danger {
  background-color: red;
}

.button.danger:disabled,
.button.danger:hover:disabled,
.button.danger:active:disabled {
  background-color: #830000;
}
