.drag-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  border-radius: 10px;
  transition: all 200ms ease-out;
}

.drag-drop svg {
  width: 7rem;
  height: 7rem;
  fill: none;
}

.drag-drop.invalid {
  color: #ff0000;
}

.drag-drop.invalid svg {
  stroke: #ff0000;
}

.drag-drop.dragging {
  opacity: 0.5;
}

.drag-drop.dragging * {
  pointer-events: none;
}
