.input__container input,
.input__container textarea {
  display: block;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: var(--theme-inversed);
  background-color: #eeeeee;
}

.input__container label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input__container.invalid label,
.input__container.invalid p {
  color: red;
}

.input__container.invalid input,
.input__container.invalid textarea {
  border: 1px solid red;
  background-color: #ffd1d1;
}
