.input__container {
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.input__container input,
.input__container textarea {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--text-secondary);
  color: var(--text-primary);
  background-color: transparent;
  transition: border-color 200ms ease-out;
}

.input__container label {
  position: absolute;
  top: 0.8rem;
  width: max-content;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--text-secondary);
  cursor: text;
  font-size: 1.2rem;
  transform: translateY(-2rem);
  transition: all 200ms ease-out;
}

.input__container div {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.input__container p {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.input__container input::placeholder,
.input__container textarea::placeholder {
  color: transparent;
}

.input__container:hover input,
.input__container:hover textarea {
  border-color: var(--text-primary);
}

.input__container:hover label {
  color: var(--text-primary);
}

.input__container input:focus,
.input__container textarea:focus {
  border-color: var(--text-primary);
}

.input__container input:placeholder-shown ~ label,
.input__container textarea:placeholder-shown ~ label {
  font-size: initial;
  transform: translateY(0);
}

.input__container input:focus ~ label,
.input__container textarea:focus ~ label {
  font-size: 1.2rem;
  color: var(--text-primary);
  transform: translateY(-2rem);
}

.input__container.invalid label,
.input__container.invalid p,
.input__container.invalid div {
  color: var(--accent-primary);
}

.input__container.invalid input,
.input__container.invalid textarea,
.input__container.invalid input:focus ~ label,
.input__container.invalid textarea:focus ~ label {
  color: var(--accent-primary);
  border-color: var(--accent-primary);
}

.input__container.invalid > div,
.input__container input:focus ~ div {
  max-height: 5rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text-primary);
  transition: background-color 0s 9999s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
