.input__container {
  width: 100%;
}

.input__container input,
.input__container textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--theme-inversed);
  background-color: #eeeeee;
}

.input__container label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input__container.invalid label,
.input__container.invalid p,
.input__container.invalid div {
  color: red;
}

.input__container.invalid input,
.input__container.invalid textarea {
  border: 1px solid red;
  background-color: #ffd1d1;
}

.input__container div {
  max-height: 0;
  font-size: 1rem;
  overflow: hidden;
  transition: max-height 200ms ease-out;
}

.input__container.invalid > div,
.input__container input:focus ~ div {
  max-height: 5rem;
}

.input__container p {
  padding: 0.5rem;
}
