.response {
  width: 100%;
  padding: 1.5rem 2rem;
  margin: 1rem 0;
  border-radius: 5px;
}

.response.error {
  background-color: var(--accent-secondary);
}

.response.message {
  color: var(--text-inversed);
  background-color: var(--bg-inversed);
}
