.vp-container {
  /* width: 40rem; */
  min-height: 40rem;
  border-radius: 4px;
  margin: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vp-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  height: 4rem;
  padding: 0.5rem;
  bottom: 0;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.vp-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.vp-controls__btn {
  position: relative;
  display: flex;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin: 0 0.5rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms ease-out;
  z-index: 5;
}

.vp-controls__btn:hover {
  transform: scale(1.5);
  filter: brightness(2);
}

.vp-controls__btn * {
  pointer-events: none;
}

.vp-controls__volume {
  position: relative;
  display: flex;
  justify-content: center;
}

.vp-controls__volume:hover .vp-controls__btn {
  transform: scale(1.5);
  filter: brightness(2);
}

.vp-controls__volume:hover .vp-controls__volume__range--outer {
  visibility: visible;
}

.vp-controls__volume:hover .vp-controls__volume__range--inner {
  transform: scaleX(1);
}

.vp-controls__volume__range--outer {
  position: absolute;
  width: 12rem;
  height: 100%;
  top: 50%;
  padding: 1.2rem 1.2rem 1.2rem 4rem;
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* border-radius: 100px; */
  transform: rotate(270deg) translate(50%);
  visibility: hidden;
  transition: visibility 200ms;
  z-index: -1;
}

.vp-controls__volume__range--inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__volume__range--inner div,
.vp-controls__volume__range--inner input {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.vp-controls__progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 0 0.5rem;
}

.vp-controls__progress:hover > div {
  transform: scaleY(2);
}

.vp-controls__progress div {
  position: absolute;
  height: 0.6rem;
  margin: auto;
  border-radius: 50px;
  transform: scaleY(1);
  transition: transform 200ms ease-out;
}

.vp-controls__range--background {
  width: 100%;
  background-color: #474545;
}

.vp-controls__range--current {
  background: var(--video-red);
}

.vp-controls__range--seek {
  position: absolute;
  width: 100%;
}

.vp-controls__range--seek:hover + .vp-controls__range--seek-tooltip {
  opacity: 1;
}

.vp-controls__range--seek-tooltip {
  position: absolute;
  top: -2.5rem;
  margin-left: -11rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  content: attr(data-title);
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.vp-controls__time {
  color: #fff;
  margin: 0 0.5rem;
}
