.video-js {
  position: relative;
  margin: auto;
  width: 50rem;
  height: 40rem;
}

.vjs-player {
  width: 100%;
  height: 100%;
}

button.vjs-big-play-button[type="button"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.vjs-remaining-time span[aria-hidden="true"] {
  display: none;
}
