.upload-node {
  width: 100%;
}

.upload-node__body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 500;
  border-radius: 10px;
}

.upload-node__body > svg {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
}

.upload-node__title {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: max-content;
  height: 5.5rem;
  text-overflow: ellipsis;
  word-break: normal;
  overflow: hidden;
  cursor: pointer;
  /* transition: all 200ms ease-out; */
}

.upload-node__title:hover {
  opacity: 0.7;
}

.upload-node__title.parent {
  max-width: calc(100% - 8rem);
  transform: translateX(5rem);
}

.upload-node__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 1rem 2rem;
  gap: 2rem;
}

.upload-node__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.upload-node__inputs input {
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--text-primary);
  color: var(--text-primary);
  background-color: transparent;
}

.upload-node__inputs label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.upload-node__timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.upload-node__timeline input:focus ~ p {
  opacity: 1;
  visibility: visible;
}

.upload-node__timeline p {
  position: absolute;
  top: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: var(--accent-secondary);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-out;
  z-index: 1;
}

.upload-node__action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.upload-node__progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 0.5rem;
}

.upload-node__progress__bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
}

.upload-node__progress__bar--background,
.upload-node__progress__bar--current {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.upload-node__progress__bar--background {
  background-color: #858585;
}

.upload-node__progress__bar--current {
  background-color: var(--accent-primary);
}

.upload-node__progress__cancel {
  display: flex;
}

.upload-node__children {
}

.upload-node.active > .upload-node__children {
  width: 95%;
  margin-left: auto;
}
