.vp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background-color: black;
}

.vp-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  height: 4rem;
  padding: 0.5rem;
  bottom: 0;
  transition: all 0.2s ease-out;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.vp-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.vp-controls__btn {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.3rem;
  margin: 0 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms ease-out;
  z-index: 5;
}

.vp-controls__btn:hover {
  transform: scale(1.5);
}

.vp-controls__btn * {
  pointer-events: none;
}

.vp-controls__range--background {
  width: 100%;
  background-color: var(--gray);
}

.vp-controls__range--buffer {
  background-color: rgb(254, 9, 0, 0.4);
}

.vp-controls__range--current {
  background: var(--video-red);
}

.vp-controls__range--seek {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 5;
}

.vp-controls__range--seek::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

.vp-controls__range--seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.vp-controls__range--seek::-moz-range-thumb {
  -moz-appearance: none;
  background: transparent;
  border: none;
}

.vp-controls__range--seek:focus {
  outline: none;
}

.vp-controls__range--seek:hover + .vp-controls__range--seek-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.vp-controls__range--seek-tooltip {
  position: absolute;
  top: -2.5rem;
  margin-left: -11rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  content: attr(data-title);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition-property: opacity, visibility, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.vp-controls__range--outer {
  position: absolute;
  width: 12rem;
  height: 100%;
  top: 50%;
  padding: 1.2rem 1.2rem 1.2rem 4rem;
  transform: rotate(270deg) translate(50%);
  visibility: hidden;
  transition: visibility 200ms;
}

.vp-controls__range--inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__range--inner:hover > div,
.vp-controls__range--inner:hover > input {
  transform: scale(1.5);
}

.vp-controls__range--inner div,
.vp-controls__range--inner input {
  position: absolute;
  width: 100%;
  transform: scale(1);
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__range--inner div {
  height: 100%;
  border-radius: 50px;
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__volume {
  position: relative;
  display: flex;
  justify-content: center;
}

.vp-controls__volume:hover .vp-controls__btn {
  transform: scale(1.5);
}

.vp-controls__volume:hover .vp-controls__range--outer {
  visibility: visible;
}

.vp-controls__volume:hover .vp-controls__range--inner {
  transform: scaleX(1);
}

.vp-controls__progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  margin: 0 0.5rem;
}

.vp-controls__progress:hover > div {
  transform: scaleY(2);
}

.vp-controls__progress > div {
  position: absolute;
  height: 0.7rem;
  border-radius: 50px;
  transition: transform 200ms ease-out;
}

.vp-controls__time {
  margin: 0 0.5rem;
}

.vp-controls svg {
  fill: var(--white);
}

.vp-center-ui div {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -3rem;
  margin-top: -3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.vp-center-ui svg {
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
}

.vp-loader__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.vp-loader {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: var(--video-red);
  background: -moz-linear-gradient(
    left,
    var(--video-red) 10%,
    rgba(255, 0, 0, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--video-red) 10%,
    rgba(255, 0, 0, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--video-red) 10%,
    rgba(255, 0, 0, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--video-red) 10%,
    rgba(255, 0, 0, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--video-red) 10%,
    rgba(255, 0, 0, 0) 42%
  );
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.vp-loader::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: var(--video-red);
  border-radius: 100% 0 0 0;
  content: "";
}

.vp-loader::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  background: black;
  border-radius: 50%;
  margin: auto;
  content: "";
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.vp-selector__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6rem;
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
}

.vp-selector {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 1rem;
  color: var(--white);
  background: rgba(0, 0, 0, 0.3);
}
