.vp-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--bg-inversed);
  color: var(--text-inversed);
  outline: none;
}

.vp-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 1rem;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 200ms ease-out;
  z-index: 10;
}

.vp-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.vp-controls * {
  -webkit-backface-visibility: hidden;
}

.vp-controls__btn {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.3rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: all 200ms ease-out;
  z-index: 5;
  fill: var(--text-primary);
}

.vp-controls__btn:hover {
  transform: scale(1.5);
}

.vp-controls__btn * {
  pointer-events: none;
}

.vp-controls__volume {
  position: relative;
  display: flex;
  justify-content: center;
}

.vp-controls__volume:hover .vp-controls__btn {
  transform: scale(1.5);
}

.vp-controls__volume:hover .vp-controls__volume-range--outer {
  visibility: visible;
}

.vp-controls__volume:hover .vp-controls__volume-range--inner {
  transform: scaleX(1);
}

.vp-controls__progress {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.vp-controls__progress > div,
.vp-controls__progress > input {
  position: absolute;
  height: 0.5rem;
  border-radius: 50px;
  transition: transform 200ms ease-out;
}

.vp-controls__range--background {
  width: 100%;
  background-color: var(--bg-secondary);
}

.vp-controls__range--buffer {
  background-color: rgb(254, 9, 0, 0.4);
}

.vp-controls__range--current {
  background: var(--video-red);
}

.vp-controls__range--seek {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 5;
}

.vp-controls__range--seek::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

.vp-controls__range--seek::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: var(--video-red);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transform: scale(0);
  transition: transform 200ms ease-out;
}

.vp-controls__range--seek::-moz-range-thumb {
  -moz-appearance: none;
  background: var(--video-red);
  border: none;
  transform: scale(0);
  transition: transform 200ms ease-out;
}

.vp-controls__range--seek:focus {
  outline: none;
}

.vp-controls__range--seek:hover + .vp-controls__range--seek-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.vp-controls__range--seek:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

.vp-controls__range--seek:hover::-moz-range-thumb {
  transform: scale(1);
}

.vp-controls__range--seek-tooltip {
  position: absolute;
  top: -2.5rem;
  margin-left: -11rem;
  font-size: 1.2rem;
  padding: 0.3rem;
  content: attr(data-title);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
  transition-property: opacity, visibility, transform;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.vp-controls__volume-range--outer {
  position: absolute;
  width: 12rem;
  height: 100%;
  top: 50%;
  padding: 1.3rem 0.5rem 1.3rem 4rem;
  transform: rotate(270deg) translate(50%);
  visibility: hidden;
  transition: visibility 200ms;
}

.vp-controls__volume-range--inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__volume-range--inner div,
.vp-controls__volume-range--inner input {
  position: absolute;
  width: 100%;
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__volume-range--inner div {
  height: 100%;
  border-radius: 50px;
  transform-origin: left;
  transition: transform 200ms ease-out;
}

.vp-controls__time {
}

.vp-selector__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20%);
  transition: all 400ms ease-out;
}

.vp-selector__container.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.vp-selector__container.high {
  transform: translateY(-3rem);
}

.vp-selector {
  width: 40%;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--text-inversed);
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 200ms ease-out;
}

.vp-selector:hover {
  opacity: 1;
}

.vp-navigation {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  transform: translate(-50%, 0);
}
