:root {
  --bg-primary: #121212;
  --bg-secondary: #424242;
  --bg-tertiary: #242424;
  --bg-inversed: #e8e6e3;
  --text-primary: #e8e6e3;
  --text-secondary: #777777;
  --text-inversed: #000000;
  --accent-primary: #cc131d;
  --accent-secondary: #6d0400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

main {
  margin-top: 10rem;
}

a,
.link {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: opacity 200ms ease-out;
}

a:hover,
.link:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

video {
  outline: none;
  width: 100%;
  aspect-ratio: 16/9;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  fill: var(--text-primary);
  cursor: pointer;
  transition: all 200ms ease-out;
}

svg:hover {
  opacity: 0.7;
}

svg.rotated {
  transform: rotate(90deg);
}

svg.disabled {
  fill: #424242;
  cursor: not-allowed;
}

svg.inversed {
  fill: var(--text-inversed);
}

svg.disabled:hover {
  opacity: 1;
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  width: 15px;
  border: 5px solid transparent;
  border-radius: 10px;
  color: #424242;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.hidden {
  display: none;
}
