:root {
  --bg-black: #000000;
  --bg-primary: #121212;
  --bg-secondary: #424242;
  --bg-tertiary: #858585;
  --bg-inversed: #ffffff;
  --text-primary: #ffffff;
  --text-secondary: #777777;
  --text-tertiary: #a5a5a5;
  --text-inversed: #000000;
  --theme-primary: #ffffff;
  --theme-secondary: #858585;
  --theme-tertiary: #424242;
  --theme-inversed: #000000;
  --accent-primary: #cc131d;
  --accent-secondary: #6d0400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

main {
  margin-top: 10rem;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  font-weight: 500;
  transition: opacity 200ms ease-out;
}

a:hover {
  opacity: 0.7;
}

button {
  cursor: pointer;
  border: none;
}

svg {
  display: block;
  margin: auto;
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--text-primary);
}

video {
  outline: none;
  width: 100%;
  aspect-ratio: 16/9;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bg-secondary);
  transition: all 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bg-tertiary);
}

.hidden {
  display: none;
}
