:root {
  --video-red: #cc131d;
  --white: #fff;
  --light-gray: #858585;
  --gray: #424242;
  --dark-gray: #1e1e1e;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--dark-gray);
  color: var(--white);
}

input {
  background-color: var(--gray);
  color: var(--white);
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 5;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  background: transparent;
  border: none;
}

input[type="range"]:focus {
  outline: none;
}

button {
  cursor: pointer;
  border: none;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--white);
}

video {
  outline: none;
  width: 100%;
  aspect-ratio: 16/9;
}

.hidden {
  display: none;
}
