:root {
  --video-red: #fe0900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 0.6rem;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50px;
  width: 100%;
  height: 0.6rem;
  pointer-events: none;
  position: absolute;
  top: 0;
}

progress::-webkit-progress-bar {
  background-color: #474545;
  border-radius: 50px;
}

progress::-webkit-progress-value {
  background: var(--video-red);
  border-radius: 50px;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
}

video {
  outline: none;
}

.hidden {
  display: none;
}
