:root {
  --video-red: #fe0900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

video {
  outline: none;
}

.hidden {
  display: none;
}
