:root {
  --video-red: #fe0900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 5;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  background: transparent;
  cursor: pointer;
}

input[type="range"]:focus {
  outline: none;
}

svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
}

video {
  outline: none;
}

.hidden {
  display: none;
}
