.icon-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  transform: rotate(0) scale(1);
  transition: all 200ms ease-out;
}

.icon-button:hover {
  opacity: 0.7;
}

.icon-button.rotated {
  transform: rotate(90deg);
}

.icon-button.rotated:hover {
  transform: rotate(90deg);
}

.icon-button.disabled > svg {
  fill: var(--text-secondary);
  cursor: not-allowed;
}

.icon-button.inversed > svg {
  fill: var(--bg-inversed);
}

.icon-button.disabled:hover {
  opacity: 1;
}

.icon-button.left-angle,
.icon-button.right-angle,
.icon-button.double-left-angle {
}

.icon-button.left-angle svg,
.icon-button.right-angle svg,
.icon-button.double-left-angle svg {
  width: 40%;
  height: 40%;
}

.icon-button.plus {
  margin-left: auto;
}

.icon-button.plus svg {
  width: 50%;
  height: 50%;
}

.icon-button.upload {
  width: 2rem;
  height: 2rem;
}

.icon-button.upload svg {
  width: 100%;
  height: 100%;
}

.icon-button.remove svg {
  width: 70%;
  height: 70%;
}
