.icon-button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transform: rotate(0);
  transition: transform 200ms ease-out;
}

.icon-button.rotated {
  transform: rotate(90deg);
}

.icon-button.disabled > svg {
  fill: #666666;
  cursor: not-allowed;
}

.icon-button.open-children {
  position: absolute;
  left: -3rem;
}

.icon-button.open-children svg {
  width: 40%;
  height: 40%;
}

.icon-button.add-child {
  margin-left: auto;
}

.icon-button.file-upload {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-button.file-upload svg {
  width: 100%;
  height: 100%;
}
