.icon-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  transition: all 200ms ease-out;
}

.icon-button svg {
  transition: opacity 200ms ease-out;
}

.icon-button::after {
  /* display: none; */
}

.icon-button:hover svg {
  opacity: 0.7;
}

.icon-button.tooltip:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.icon-button.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  display: flex;
  align-items: center;
  left: 100%;
  padding: 0 1rem;
  width: max-content;
  height: 100%;
  font-weight: 500;
  color: var(--theme-primary);
  background-color: var(--theme-tertiary);
  border-radius: 5px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 200ms ease-out;
}

.icon-button.rotated {
  transform: rotate(90deg);
}

.icon-button.rotated:hover {
  transform: rotate(90deg);
}

.icon-button.disabled > svg {
  fill: var(--theme-tertiary);
  cursor: not-allowed;
}

.icon-button.inversed > svg {
  fill: var(--theme-primary);
}

.icon-button.disabled:hover {
  opacity: 1;
}

.icon-button.left-angle,
.icon-button.right-angle,
.icon-button.double-left-angle {
}

.icon-button.left-angle svg,
.icon-button.right-angle svg,
.icon-button.double-left-angle svg {
  width: 40%;
  height: 40%;
}

.icon-button.plus {
  margin-left: auto;
}

.icon-button.plus svg {
  width: 50%;
  height: 50%;
}

.icon-button.upload {
  width: 2rem;
  height: 2rem;
}

.icon-button.upload svg {
  width: 100%;
  height: 100%;
}

.icon-button.remove svg {
  width: 70%;
  height: 70%;
}
