.search__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  width: 25rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid var(--text-secondary);
  outline: none;
  color: var(--text-primary);
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-out;
}

.search__container label {
  position: absolute;
  right: 0;
  transform: translateX(0);
  transition: transform 300ms ease-out;
}

.search__input:focus {
  transform: scaleX(1);
}

.search__input:focus ~ label {
  transform: translateX(-26rem);
}
