.search__container label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  width: 0;
  padding: 1rem 0;
  border: none;
  border-bottom: 2px solid var(--text-secondary);
  outline: none;
  color: var(--text-primary);
  background-color: transparent;
  transform: scale();
  transition: all 300ms ease-out;
}

.search__input:focus {
  width: 30rem;
  padding: 1rem;
  margin: 0 0 0 1rem;
}

@media (max-width: 600px) {
  .search__input:focus {
    width: 20rem;
  }
}
